# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=43fc5e0ec57a370ca6f795e93fd82cf13eba0f351ae7d54720f6e9a7ab10a20541cd3638a0301affbf5426c5ef3e13cb2b2c30e14863b070967c7d913158dafa
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
